[flake8]
ignore =
    # Allow block comments to start without a space after #
    E265,
    # Allow empty line at end of file
    W391,
    # Allow breaks before and after binary operators
    W503, W504,
    # Allow assigning a lambda expression instead of using a def
    E731,
    # Allow I, l and O as variable names
    E741,
exclude=
    .git,
    venv,
    test_data,
    pcp1,
